header#header {
    background-color: aliceblue;
}

header#header, div#nav-bar {
    position: fixed;
    z-index: 9999;
}

header#header nav.menu ul {
    display: flex;
    list-style: none;
}

header#header nav.menu ul li {
    margin: 0 10px;
}

.content-body > section {
    padding: 20px 0;
}

#map {
    border-radius: 12px;
    box-shadow: #00000010 8px 8px 16px;
}

a button.mark-cta {
    border: none;
    outline: none;
    background-color: #084c7d;
    color: #ffffff;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 3px;
}
