:root {
  --pallete-blue: #3F15E9;
  --pallete-black: #272727;
  --pallete-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

header {
    background-color: var(--pallete-white);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 666;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
}

header .logo {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: var(--pallete-blue);
}

header button {
    background-color: var(--pallete-white);
    border: var(--pallete-blue) 2px solid;
    border-radius: 25px;
    transition: .3s;
}

header button a {
    display: inline-block;
    text-decoration: none;
    color: var(--pallete-blue);
    padding: 8px 24px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: .3s;
}

header button:hover {
    background-color: var(--pallete-blue);
}

header button:hover a {
    color: var(--pallete-white);
}

section.portal {
    width: 100%;
    height: 100vh;
    position: relative;
}

section.portal .content {
    position: absolute;
    padding: 100px;
    z-index: 2;
    top: 0; left: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 50px;
    color: var(--pallete-white);
}

.content .heading h1 {
    font-size: 4em;
    font-style: italic;
    line-height: 1.3em;
}

.content .heading h3 {
    font-size: 2em;
    font-weight: 400;
}

.content .cta-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.cta-btn button.form-trigger {
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: var(--pallete-blue);
    color: var(--pallete-white);
    outline: none;
    border: var(--pallete-blue) 2px solid;
    border-radius: 3px;
    transition: .3s;
    cursor: pointer;
}

.cta-btn button.form-trigger:hover {
    transform: translate(-5px, 5px);
    background-color: #3f15e953;
}

.cta-btn button.form-trigger::before {
    content: '';
    border: var(--pallete-blue) 2px solid;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    border-radius: inherit;
    transition: .3s;
}

.cta-btn button.form-trigger:hover::before {
    transform: translate(6px, -10px);
}

.content .images {
    display: flex;
    justify-content: end;
}

.content .images .rmn-slider {
    position: relative;
    width: 24em;
    height: 30em;
    border-radius: 16px;
    transform: translateY(50px);
}

.content .rmn-slider .slides {
    position: relative;
    z-index: 5;
    border-radius: inherit;
    border: var(--pallete-white) 3px solid;
    box-shadow: #00000060 -8px 8px 52px;
}

.content .rmn-slider::before,
.content .rmn-slider::after {
    content: '';
    position: absolute;
    z-index: 4;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--pallete-white);
    box-shadow: #00000060 -8px 8px 52px;
    transform-origin: bottom left;
    animation: cardImageAnimation1 1s ease-in-out forwards;
}

.content .rmn-slider::before {
    z-index: 3;
    animation: cardImageAnimation2 1s ease-in-out forwards;
}

.content .rmn-slider .slide::after {
    opacity: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 666;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.modal.active {
    display: block;
}

.modal-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000da;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .form-group {
    background-color: var(--pallete-white);
    display: flex;
    flex-direction: column;
    padding: 35px 80px;
    max-height: 80%;
    overflow: auto;
    border-radius: 24px;
}

.modal form > * {
    padding: 10px 0;
}

.modal form li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 24em;
    padding: 3px 0;
}

.modal li input,
.modal li textarea {
    margin-top: 5px;
    padding: 4px 6px;
}

.modal .btn {
    display: flex;
    flex-direction: row-reverse;
}

.modal .btn button {
    margin-left: 10px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 4px;
}

.modal .btn .order-btn {
    background-color: var(--pallete-blue);
    color: var(--pallete-white);
    border: none;
    outline: none;
}

.alert {
    position: fixed;
    z-index: 667;
    top: 10px; right: 10px;
}

.alert ul {
    display: flex;
    flex-direction: column;
}

.alert.alert-danger li {
    background-color: #e51818d2;
    color: #f6caca;
}

.alert.alert-success li {
    background-color: #05adc3d2;
    color: #f3f3ff;
}

.alert li {
    list-style: none;
    padding: 16px 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.alert li .message {
    display: flex;
    align-items: center;
}

.alert .message p {
    margin: 0 10px;
}

.alert .btn.alert-close {
    cursor: pointer;
    font-size: 20px;
    opacity: .3;
    transition: .3s;
}

.alert .btn.alert-close:hover {
    opacity: 1;
}


@keyframes cardImageAnimation1 {
    from {
        transform: rotate(0) translateY(0)
    } to {
        transform: rotate(-3deg) translateY(10px);
    }
}

@keyframes cardImageAnimation2 {
    from {
        transform: rotate(0) translateY(0)
    } to {
        transform: rotate(-6deg) translateY(20px);
    }
}
